#ecoContainer{
    overflow: hidden;
    position: relative;
    font-size: 0.833vw;
}

#ecoContainer>img {
    position: absolute;
    width: 90%;
    padding: 15vh 0px;
    pointer-events: none;
    z-index: -1;
    opacity: 0.85;
    left: 50%;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(255, 255, 0, 0.2));
}

#ecoContainer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6em;
    padding: 65vh 22.5% 15vh;
}

#ecoContainer .ecoItem {
    background-image: linear-gradient(96.41deg, #121212 -0.8%, #292929 22.29%, #171717 49.3%, #252525 78%, #151515 99.39%);
    display: flex;
    align-items: center;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 5px 25px var(--black-50);
    transition-duration: 0.3s;
    width: 100%;
}

#ecoContainer .ecoItem:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
    box-shadow: 0 12px 25px var(--black-25);
}

#ecoContainer .ecoItem>img {
    padding: 1em 0em 1em 1em;
    object-fit: contain;
    min-width: 15em;
    max-height: 15em;
    max-width: 15em;
    min-height: 15em;
}

#ecoContainer .ecoItem>.textContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em;
    padding-bottom: 3em;
}

#ecoContainer .ecoItem>.textContainer>h2 {
    padding-bottom: 0.25em;
    font-size: 2.39vw;
    background: linear-gradient(91.92deg, #D7A4FF 4.14%, #CA89FD 26.5%, #CF93FF 48.86%, #CA89FD 67.9%, #D49DFF 83.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ecoContainer .ecoItem>.textContainer>p {
    font-size: 1.2vw;
    color: var(--white);
}

/* BUBBLES */

.bubble{
    background: none;
    box-shadow: none;
    border-radius: none;
}

.bubble > img{
    height: 250%;
    width: 250%;
}