/* Widescreen or 4K */
@media (min-width: 1921px) {}

/* Laptop - monitor */
@media (max-width: 1700px) {
    #socialButtons img {
        margin: 0.5em;
        height: 2.15em;
    }

    #socialButtons {
        bottom: 15%;
    }

    #contact>img {
        width: 44vw;
    }

    #contact>div>div {
        margin: 1em 5em 0em 3em;
    }

    #contact>div>div>p {
        font-size: 2.7vw;
    }

    /* SERVICES*/
}

/* Laptop */
@media (max-width: 1199px) {
    #contact {
        flex-direction: row;
        align-items: flex-end;
    }

    #contact>div {
        padding-top: 0;
    }

    #contact>img {
        width: 44vw;
        height: auto;
        padding-right: 0;
    }

    #contact>div>div {
        margin: 4em 3em 0em 3em;
    }

    #contact>div>div>p {
        font-size: 2.6vw;
    }

    #socialButtons img {
        height: 2em;
    }

    .Menu-list {
        font-size: 2.5em;
    }

    #Menu {
        width: 40%;
    }

    .scrollDown>img {
        width: 2%;
        height: auto;
    }

    /* SERVICES*/

    .infinityWrapper>p {
        font-size: 3em;
        animation-duration: 15s;
    }

    #servicesContainer>div>.service>.serviceText>div>p {
        line-height: 1.25em;
    }

    /*Ecosystem*/

    #ecoContainer .ecoItem > img {
        min-width: 10em;
        max-height: 10em;
        max-width: 10em;
        min-height: 10em;
    }

    #ecoContainer .ecoItem > .textContainer{
        padding: 2em 1.5em 3em;
    }
    
    #ecoContainer > div{
        gap: 4em;
    }
}

/* Tablets*/
@media (max-width: 991px) {
    #contact {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    #contact>div>div>p {
        font-size: 4.5vw;
    }

    #socialButtons img {
        height: 1.7em;
    }

    #contact>img {
        height: 50vh;
        width: auto;
        padding: 0 2em;
    }

    #contact>div>div {
        margin: 3em 4em 0em 4em;
    }

    .Menu-list {
        font-size: 3em;
        justify-content: center;
    }

    #Menu {
        width: 100%;
    }

    /*Ecosystem*/

    #ecoContainer .ecoItem > img {
        min-width: 8em;
        max-height: 8em;
        max-width: 8em;
        min-height: 8em;
    }

    #ecoContainer > div{
        padding: 50vh 14% 10vh;
    }
}

/* Smartphones horizontal*/
@media (max-width: 767px) {
    #navContainer h1 {
        font-size: 0.75em;
    }

    footer>a>h3 {
        font-size: 0.5em;
        letter-spacing: 0px;
    }

    .socials>a>img {
        padding-right: 0.3em;
    }

    #contact>img {
        width: 48vw;
        height: auto;
        padding: 0em 2em;
    }

    #contact>div>div {
        margin: 2em 2em 0em 2em;
    }

    #contact>div>div>p {
        font-size: 2.75vw;
    }

    #socialButtons img {
        height: 0.8em;
        margin: 0.5em 0.25em;
    }

    #contact {
        flex-direction: row;
        align-items: flex-end;
    }

    .Menu-list {
        font-size: 1.5em;
    }

    #Menu {
        width: 50%;
    }

    /* SERVICES*/

    .infinityWrapper>p {
        font-size: 2em;
        animation-duration: 12s;
    }

    /*Ecosystem*/

    #ecoContainer .ecoItem > .textContainer{
        padding: 1.5em 1.5em 2em;
    }
    
    #ecoContainer > div{
        gap: 4em;
        padding: 60vh 14% 10vh;
    }

    #ecoContainer .ecoItem{
        border-radius: 25px;
    }
}

/* Smartphones*/
@media (max-width: 575px) {
    #contact {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    #contact>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #contact>div>div>p {
        font-size: 5.5vw;
    }

    #socialButtons img {
        height: 1.2em;
        margin: 0.5em 0.4em;
    }

    #contact>img {
        width: 100vw;

        padding: 0em 2em;
    }

    #navContainer h1 {
        font-size: 1em;
    }

    #navContainer {
        height: 6vh;
    }

    #headerBackground {
        height: 6vh;
    }

    #logo>svg {
        height: 12vh;
        width: 12vw;
    }

    footer>a>h3 {
        font-size: 1.5em;
        letter-spacing: 0px;
        padding-left: 14px;
    }

    footer>h3 {
        display: none;
    }

    .socials>a>img {
        padding-right: 0.75em;
        height: 1.25em;
    }

    #Menu {
        width: 100%;
    }

    .Menu-list {
        padding: 0em 1em;
    }

    .scrollDown>img {
        width: 6%;
        height: auto;
    }

    /* SERVICES*/

    #servicesContainer>div>.service {
        flex-direction: column-reverse !important;
        padding: 2em;
    }

    #servicesContainer>div>.service>img {
        height: auto;
        width: 100%;
        margin: 3em 0 !important;
    }

    #servicesContainer>div>.service>.serviceText>div>p {
        text-align: center;
        font-size: 0.5em;
        line-height: 1.25em;
    }

    #servicesContainer>div>.service>.serviceText>div>h2 {
        text-align: center;
        font-size: 10vw;
        margin-left: 0 !important;
    }

    #Raffles~.serviceText>div>h2 {
        font-size: 5vw !important;
    }

    #Dealer~.serviceText>div>h2 {
        font-size: 10vw !important;
    }

    #Art~.serviceText>div>h2 {
        font-size: 8vw !important;
    }

    #Minting~.serviceText>div>h2 {
        font-size: 15vw !important;
    }

    /*Ecosystem*/

    #ecoContainer > img {
        padding: 10vh 0;
    }

    #ecoContainer .ecoItem > img {
        min-width: 6em;
        max-height: 6em;
        max-width: 6em;
        min-height: 6em;
        padding: 0.75em 0em 0.75em 0.75em;
    }

    #ecoContainer .ecoItem > .textContainer{
        padding: 1em 1em 1.5em 0.75em;
    }
    
    #ecoContainer > div{
        gap: 2em;
        padding: 24vh 14% 5vh;
    }
}